# Ignore Python caches
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
.venv
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Tools cache
pytest_cache/
.coverage
.mypy_cache/

# IDE/editor
.idea/
.vscode/
.DS_Store
